<!-- joblistings/job_page.html -->
{% extends "base.html" %}

{% block content %}
<h1>{{ page.title }}</h1>
<p><strong>Company:</strong> {{ page.company_name }}</p>
{% if page.new_company_name %}
    <p><strong>New Company:</strong> {{ page.new_company_name }}</p>
{% endif %}
<p><strong>Location:</strong> {{ page.location }}</p>
<p><strong>Start Date:</strong> {{ page.month }}</p>
<p><strong>Contract Type:</strong> {{ page.contract_type }}</p>
<p><strong>Job Description:</strong> {{ page.job_description|richtext }}</p>
<p><strong>Notes & Feedbacks:</strong> {{ page.notes_feedbacks|richtext }}</p>
<p><strong>Language Requirements:</strong> {{ page.language_requirements }}</p>
<p><strong>Expected Salary:</strong> {{ page.expected_salary }}</p>
<p><strong>Coding Languages:</strong> {{ page.coding_languages }}</p>
<p><strong>Asset Class:</strong> {{ page.asset_class }}</p>
<p><strong>Interview Report Link:</strong> <a href="{{ page.interview_report_link }}">{{ page.interview_report_link }}</a></p>

<h2>Contact Persons</h2>
<ul>
    {% for contact in page.contact_persons.all %}
        <li>
            <strong>Name:</strong> {{ contact.name }}<br>
            <strong>LinkedIn:</strong> <a href="{{ contact.linkedin }}">{{ contact.linkedin }}</a><br>
            <strong>Email:</strong> {{ contact.email }}
        </li>
    {% endfor %}
</ul>
{% endblock %}
